:root {
    --color-light: #F4F1DE;
    --color-dark: #342e44;
    --color-dark-rgb: 52, 46, 68;
    --color-dark-lighter: #6b5b7c;
    --color-dark-lighter-rgb: 107, 91, 124;
    --color-dark-lighter-2: #9788a7;
    --color-dark-lighter-2-rgb: 151, 136, 167;
    --color-accent-1: #d4837d;
    --color-accent-1-rgb: 212, 131, 125;
    --color-accent-1-darker: #c76a64;
    --color-accent-1-darker-rgb: 199, 106, 100;
    --color-accent-1-lighter: #F3B1AC;
    --color-accent-1-lighter-rgb: 243, 177, 172;

    --bg-color: #eee;
    --text-color: #333;
    --text-color-darker: #000;
    --text-color-lighter: #777;
    --reveal-translate: 30px;
    --font1: "Source Sans 3", sans-serif;
    --font2: "Raleway", sans-serif;
    --font-code: "Source Code Pro", monospace;

    --color-btn: var(--color-accent-1);
    --color-btn-hover: var(--color-dark);
    --color-btn-text: var(--bg-color);
    --color-btn-text-hover: var(--color-accent-1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font1);
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--text-color);
    scroll-behavior: smooth;
}

/* SECTIONS */

section {
    margin: 0 0 0 35%;
    width: 65%;
    box-sizing: border-box;
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateY(var(--reveal-translate));
    transition: all 0.8s ease-in-out;
}

@media screen and (max-width: 1200px) {
    section {
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        padding: 80px 60px;
    }
}

section.revealed {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}

/* TEXT CONTENT STYLES */

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    font-family: var(--font2);
    color: var(--text-color);
    text-align: center;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

a {
    color: var(--text-color-darker);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:focus,
a:active {
    color: var(--color-accent-1-darker);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

p>a {
    color: var(--color-dark);
    background-image: linear-gradient(var(--color-accent-1-darker));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 0%;
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

p>a:hover,
p>a:focus,
p>a:active {
    background-size: 100% 1px;
    transition: all 0.3s ease-in-out;
}

.accordion-header {
    background-color: var(--color-dark-lighter);
    color: var(--bg-color);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-family: var(--font-code);
    font-weight: 700;
    font-size: 1.2em;
    transition: 0.3s;
    border-radius: 20px;
    margin: 20px 0 0 0;
}

.accordion-header:hover {
    background-color: var(--color-dark-lighter);
    padding-left: 28px;
    transition: all 0.3s ease-in-out, border-radius 0.1s ease-in-out;
}

.accordion-header.active {
    border-radius: 20px 20px 0 0;
    padding-left: 28px;
}

.accordion-panel {
    text-align: left;
    background-color: rgba(0, 0, 0, 0.2);
    max-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 20px 20px;
}

code {
    background: rgba(10, 10, 10, 0.4);
    border: none;
    border-radius: none;
    font-family: var(--font-code);
    font-size: 0.95em;
    display: block;
    text-align: left;
    padding: 0;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 100%;
    overflow: auto;
}

code pre {
    margin: 0;
    padding: 20px;
    font-size: 0.8em;
    font-family: var(--font-code);
}

code::-webkit-scrollbar-track, code::-webkit-scrollbar {
    background: transparent;
    border-radius: 10px;
    height: 10px;
}

code::-webkit-scrollbar-thumb {
    background: var(--color-dark-lighter);
    border-radius: 10px;
}

.button,
.button:focus,
.button:active {
    display: block;
    border-radius: 0px;
    font-family: var(--font2);
    font-size: 1em;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    color: var(--bg-color);
    background-color: var(--color-dark-lighter);
    border: 1px solid var(--color-dark-lighter);
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color: var(--bg-color);
    background-color: var(--color-dark);
    border: 1px solid var(--color-dark);
    transition: all 0.3s ease-in-out;
}

.button.variant,
.button.variant:focus,
.button.variant:active {
    display: block;
    border-radius: 0px;
    letter-spacing: 2px;
    color: var(--color-accent-1-darker);
    background-color: transparent;
    border: 1px solid var(--color-accent-1-darker);
    padding: 15px 30px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    cursor: pointer;
}

.button.variant:hover {
    color: var(--bg-color);
    background-color: var(--color-accent-1-darker);
    transition: all 0.3s ease-in-out;
}

.ribbon {
    width: 60px;
    font-size: 0.8em;
    font-weight: 600;
    font-family: var(--font2);
    padding: 4px;
    position: absolute;
    z-index: 10;
    right: -25px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
    background-color: peru;
    color: white;
}

.double-button-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.button-container {
    display: block;
    margin: 10px;
    position: relative;
}

@media screen and (max-width: 700px) {
    .double-button-wrapper {
        display: flex;
        flex-direction: column;
    }

    .double-button-wrapper .button-container {
        margin: 20px 0 0 0;
        width: 100%;
    }
}

.social_buttons_tua a {
    background-color: var(--color-dark-lighter);
    border: 1px solid transparent;
    color: var(--color-btn-text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    line-height: 51px;
    height: 50px;
    width: 50px;
    margin: 15px 2px 0 0;
    cursor: pointer;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
}

.social_buttons_tua a:hover {
    color: var(--bg-color);
    background-color: var(--color-dark);
    transition: all 0.3s ease-in-out;
}

a.emaillink {
    display: inline-block;
    margin: 30px 0;
    font-weight: 600;
}

/* HEADER */

header {
    position: fixed;
    background-color: #555;
    background-image: url(/images/sidenav-bg3.jpg);
    background-size: cover;
    justify-content: start;
    padding-top: 150px;
    background-size: cover;
    height: 100%;
    width: 35%;
    box-sizing: border-box;
    padding: 0 5% 0 5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: left;
}

header h2 {
    font-family: var(--font-code);
    font-size: 2rem;
    font-weight: 900;
    text-transform: lowercase;
    color: #fff;
    text-align: left;
}

header .portrait img {
    width: 5em;
    height: 5em;
    border-radius: 50%;
}

header .about-description {
    font-size: 1em;
    font-weight: 300;
    margin: 15px 0 15px 0;
}

header .social_buttons_tua_nav {
    margin: 20px 0 0 0;
}

header .social_buttons_tua_nav a {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

header .social_buttons_tua_nav a:hover {
    color: var(--color-accent-1-lighter);
}

@media screen and (max-width: 1200px) {
    header {
        position: relative;
        height: 100%;
        width: 100%;
        z-index: 1;
        margin-top: 58px;
        padding: 4em 10% 4em 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-position: 50% 40%;
    }

    header h2 {
        font-size: 3rem;
        text-align: center;
    }

    header .portrait img {
        width: 9em;
        height: 9em;
        border-radius: 50%;
    }
}

/* NAVIGATION */

@media screen and (min-width: 1200px) {
    .nav {
        width: 100%;
    }

    .nav a:not(.icon) {
        display: flex;
        flex-flow: column;
        color: var(--bg-color);
        text-align: left;
        text-decoration: none;
        text-transform: lowercase;
        font-family: var(--font-code);
        font-size: 1.2rem;
        font-weight: 700;
        padding: 4px 0;
        text-decoration: none;
        /*border-bottom: 2px solid rgba(255, 255, 255, 0.2);*/
    }

    .nav a:not(.icon):hover {
        color: var(--color-accent-1-lighter);
        padding-left: 10px;
        transition: all 0.3s ease-in-out;
        /*border-bottom: 2px solid rgba(255, 255, 255, 0.9);
        padding-left: 20px;*/
    }

    .nav .icon {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: var(--color-dark);
        z-index: 999;
        padding: 15px 20px;
        display: flex;
        justify-content: end;
    }

    .nav-home {
        color: var(--bg-color);
        font-family: var(--font2);
        font-weight: 400;
        font-size: 24px;
        text-decoration: none;
        margin-right: auto;
        white-space: nowrap;
    }

    .nav button {
        outline: none;
        background: none;
        border: none;
    }

    .nav .icon {
        cursor: pointer;
        z-index: 1001;
    }

    .nav .icon i {
        font-size: 28px;
        color: var(--bg-color);
        transition: transform 0.3s ease, opacity 0.3s ease, color 0.3s ease-in-out;
    }

    .nav-links {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--color-dark);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease;
        flex-direction: column;
        box-sizing: border-box;
        z-index: 998;
        text-transform: uppercase;
    }

    .nav-links a {
        display: block;
        padding: 5px 0;
        color: var(--bg-color);
        text-decoration: none;
        font-family: var(--font2);
        font-weight: 400;
        font-size: 24px;
        transition: color 0.3s ease-in-out;
        padding: 10px 20px;
        margin-bottom: 15px;
    }

    .nav-links a:hover,
    a.nav-home:hover {
        color: var(--color-accent-1-lighter);
    }

    .nav.responsive .nav-links {
        max-height: 500px;
    }

    .nav.responsive .icon i.fa-xmark {
        transform: rotate(90deg);
    }

    .nav.responsive .icon i.fa-bars {
        transform: rotate(-90deg);
        opacity: 0;
    }

    .nav .icon:hover i {
        color: var(--color-accent-1-lighter);
    }
}

    .nav-links a.nav-back {
        font-size: 0.7em;
        display: inline-block;
        margin-top: 20px;
    }

    .nav-links a.nav-back i {
        font-size: 0.7em;
        margin-right: 10px;
        float: left;
        line-height: 1.9;
    }

    .nav-responsive .nav-links a.nav-back {
        margin-top: 0;
    }

/* PORTFOLIO ENTRIES HEADERS */

body.themushroomjournal {
    --color-dark: #283a23;
    --color-dark-lighter: #5b7c4d;
    --color-dark-rgb: 40, 58, 35;
    --color-accent-1: #a9c97b;
    --color-accent-1-rgb: 169, 201, 123;
    --color-accent-1-lighter: #d4e8c2;
    --color-accent-1-darker: #7d9e48;
    --color-accent-2: #b3824b;
    --color-accent-2-lighter: #d9b48c;
    --color-accent-2-darker: #9c6e3a;

}

#intro.themushroomjournal {
    background-image: url('/portfolioentries/images/themushroomjournal_large_tinted.png');
    background-size: cover;
    background-position: 5% 0%;
    font-size: 1.1em;
}

@media (max-width: 1200px) {
    #intro.themushroomjournal {
        background-position: center;
    }
}

#about.themushroomjournal {
    background-color: var(--color-dark);
    color: var(--bg-color);
    font-weight: 300;
    font-size: 1.1em;
    text-align: center;
}

.portrait.themushroomjournal img {
    width: 190px;
    height: auto;
    border-radius: 0px;
}

.themushroomjournal .nav-links a.back-link{
    margin-top: 10px;
    letter-spacing: 0;
    font-weight: 700;
    text-transform: lowercase;
    font-family: var(--font-code);
    font-size: 0.8em;
}

.textfloatimage h4 {
    margin: 20px 0;
}

.textfloatimage a {
    float: right;
    margin: 0 0 0 30px;
}

.textfloatimage a img {
    width: 20vw;
    border-radius: 20px;
}

@media (max-width: 1200px) {
    .textfloatimage {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .textfloatimage p {
        margin: 20px 0;
    }

    .textfloatimage a img {
        width: 50%;
        border-radius: 20px;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 600px) {
    .textfloatimage a img {
        width: 90%;
    }
}

.learning h4 {
    margin: 20px 0;
    font-size: 1.2em;
    text-align: left;
}

.learning ul {
    margin-left: 20px;
}

.learning ul li {
    line-height: 1.8;
    margin: 5px 0;
}

/* EXPERTISES */

.expertise-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    line-height: 1.6;
    margin: 40px auto;
    text-align: center;
    font-weight: 400;
}

@media (max-width: 900px) {
    .expertise-list {
        grid-template-columns: 1fr;
        width: 100%;
        grid-column-gap: 0px;
        grid-row-gap: 20px;
    }
}

.expertise-list h4 {
    line-height: 4;
    font-size: 1.4em;
    line-height: 3.4;
}

.expertise-item i.fa-solid {
    color: var(--color-accent-1);
    font-size: 50px;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

.expertise-item:hover i.fa-solid {
    transform: scale(1.2);
    transition: all 0.1s ease-in-out;
}


/* WORKS */

#works {
    background: var(--color-dark);
    color: var(--bg-color)
}

section .works {
    color: var(--bg-color);
    text-align: center;
}

section .works h2 {
    color: var(--bg-color);
    margin-bottom: 40px;
}

.controls {
    margin-bottom: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.controls button {
    display: block;
    font-family: var(--font2);
    font-size: 0.9em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--bg-color);
    background-color: var(--color-dark);
    border: 1px solid var(--color-dark-lighter);
    padding: 8px 14px;
    border-radius: 0px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.controls button:hover {
    background-color: rgba(var(--color-dark-lighter-rgb), 0.3);
}

.controls button.active {
    color: var(--color-btn-text);
    background-color: var(--color-dark-lighter);
    border: 1px solid var(--color-dark-lighter);
    transition: all 0.3s ease-in-out;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-auto-flow: dense;
    gap: 20px;
    width: 100%;
    max-width: 9000px;
    margin: 0 auto;

    transition: height 0.4s ease;
    position: relative;
}

.gallery-item {
    display: block;
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    display: block;
    cursor: pointer;
}

.gallery-item img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 0px;
}

.gallery-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: rgba(10, 10, 10, 0.8);
    border-radius: 0px;
}

.gallery-item:hover .gallery-item-overlay {
    opacity: 1;
}

.gallery-item-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.gallery-item.mix,
.gallery-item.show {
    display: block;
}

@media (max-width: 1400px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        /* min-height: 600px; */
        transition: height 0.4s ease;
    }
}

@media (max-width: 600px) {
    #gallery {
        grid-template-columns: 1fr;
        max-width: 100%;
        /* min-height: 600px; */
        transition: height 0.4s ease;
    }
}

/* EXPERIENCE */

#experience {
    background: rgba(220, 220, 220, 0.95);
}

.timeline {
    height: 100%;
}

.tl-container {
    display: block;
    position: relative;
}

.tl-container ul {
    display: inline-block;
    margin: 2.5em 0 0 0;
    padding: 0;
}

.tl-container ul li {
    position: relative;
    list-style: none;
    margin: auto;
    margin-left: 1em;
    padding: 0 0 50px 30px;
    min-height: 100px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.tl-container ul li:last-child {
    border-left: 0;
    padding-bottom: 0;
}

.tl-container ul li::before {
    position: absolute;
    left: -0.4em;
    content: " ";
    border-radius: 100%;
    background: var(--color-accent-1-darker);
    height: 13px;
    width: 13px;
}

.tl-title {
    margin: -0.2em 0 0.5em 0;
    text-align: left;
    font-family: var(--font2);
    font-weight: 400;
    font-size: 24px;
    color: var(--text-color);
}

.tl-subtitle {
    margin-bottom: 0.5em;
    text-align: left;
    font-family: var(--font1);
    font-size: 1em;
    font-weight: 400;
    color: var(--text-color-lighter);
    text-transform: uppercase;
}

.tl-container ul li .tl-timestamp {
    position: relative;
    margin-bottom: 20px;
    color: var(--color-accent-1-darker);
    font-family: var(--font-code);
    font-weight: 800;
    line-height: 0.75;
}

.tl-container ul li .tl-description {
    font-weight: 400;
    text-align: left;
    line-height: 1.8;
    color: var(--text-color);
}

p.study-extra {
    color: var(--color-dark-lighter);
    font-style: italic;
}

p.study-extra span,
p.study-extra a {
    color: var(--color-dark-lighter);
    font-style: italic;
}

p.study-extra i {
    padding-right: 5px;
}

/* CONTACTS */

#contact {
    background: rgba(220, 220, 220, 0.95);
}

section .contact p {
    text-align: center;
}

section .contact h2 {
    margin-bottom: 30px;
}

.contacts {
    margin: 50px 0;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-top: 15px;
}

form input,
form textarea {
    display: block;
    font-family: var(--font1);
    font-size: 15px;
}

form legend {
    font-weight: 600;
    color: var(--color-accent-1-darker);
    margin: 10px 0;
}

form fieldset {
    border: none;
    margin: 10px 0;
}

form input::placeholder,
form textarea::placeholder {
    font-weight: 400;
    opacity: 1;
}

form input[type=text],
form input[type=email],
form textarea {
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 10px 0;
    background: #fff;
    border: none;
    border: 1px solid var(--color-dark-lighter-2);
    border-radius: 0px;
    box-sizing: border-box;
}

form input[type=text]:focus-visible,
form input[type=email]:focus-visible,
form textarea:focus-visible {
    border: 1px solid var(--color-accent-1-darker);
    outline: none;
}

.checkmark-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--color-accent-1-darker);
}

.checkmark-container:hover input~.checkmark {
    background-color: var(--color-accent-1-darker);
}

.checkmark-container input:checked~.checkmark {
    background-color: var(--color-accent-1-darker);
    border: 2px solid var(--color-accent-1-darker);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkmark-container input:checked~.checkmark:after {
    display: block;
}

.checkmark-container .checkmark:after {
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
}

button.button[type=submit] {
    margin-top: 10px;
}

/* MODALS */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 10000;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal.closing {
    opacity: 0;
    visibility: hidden;
}

.modal-content h3 {
    color: var(--color-accent-2)
}

.modal-content {
    background: #fff;
    color: var(--text-color);
    max-width: 1000px;
    width: 70%;
    border-radius: 0px;
    overflow: hidden;
}

.modal-header img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.modal-body {
    padding: 30px;
}

.modal-body h3 {
    color: var(--color-dark);
    margin-bottom: 15px;
}

.modal-body ul {
    list-style: none;
    display: flex;
    margin: 0 0 15px 0;
    justify-content: center;
}

.modal-body ul li {
    background: var(--color-dark-lighter);
    margin: 0 5px;
    padding: 4px 8px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: var(--bg-color);
    text-align: center;
    width: auto;
}

.modal-close {
    position: absolute;
    top: 3%;
    right: 3%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .modal-content {
        width: 90%;
    }
}

/* FOOTER */

footer {
    text-align: center;
    padding: 40px 20px;
    color: var(--bg-color);
    background: var(--color-dark);
}

/* GRIDS */

.gridlayout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px 10px;
    justify-content: space-around;
}

@media only screen and (max-width: 800px) {
    .gridlayout {
        grid-template-columns: 1fr;
    }
}

/* TOOLTIPS */

[data-tooltip] {
    --arrow-size: 0px;
    position: relative;
    z-index: 10;
}

[data-tooltip]:before,
[data-tooltip]:after {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 50%;
    bottom: calc(100% + var(--arrow-size));
    pointer-events: none;
    transition: 0.2s;
    will-change: transform;
}

[data-tooltip]:before {
    content: attr(data-tooltip);
    padding: 8px 10px;
    /* min-width: 50px; */
    max-width: 300px;
    width: max-content;
    width: -moz-max-content;
    border-radius: 0px;
    font-family: var(--font2);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2;
    background-color: var(--color-dark-lighter);
    color: var(--bg-color);
    text-transform: uppercase;
    text-align: center;
    white-space: pre-wrap;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(0.5);
}

[data-tooltip]:after {
    content: '';
    transition-duration: 0s;
    transform-origin: top;
    transform: translateX(-50%) scaleY(0);
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-tooltip]:hover:before {
    transition-delay: 0.3s;
    transform: translate(-50%, calc(0px - var(--arrow-size))) scale(1);
}

[data-tooltip]:hover:after {
    transition-delay: 0.5s;
    transition-duration: 0.2s;
    transform: translateX(-50%) scaleY(1);
}

/* BOTTOM */

[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
    top: calc(120% + var(--arrow-size));
    bottom: auto;
}

/* 404 PAGE */

.container404 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.container404 h1 {
    color: var(--color-accent-1);
    font-weight: normal;
    font-size: 150px;
    font-family: "Rubik Glitch", system-ui;
}

.container404 h2 {
    margin-bottom: 20px;
}

.container404 p {
    margin-bottom: 30px;
}